main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.cars-list-heading-container {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.test2 {
    display: flex;
    flex-direction: column;
}

.line-heading {
    display: flex;
    flex-wrap: wrap;
}

h2 {
    font-family: 'Roboto', sans-serif;
}

.vertical-line {
    border-left: 3px solid #8B8B8B;
    height: 18px;
    margin-right: 12px;
    margin-top: 25px;
}


.table-headers {
    position: relative;
    height: 44px;
    background: #C3002F;
    width: 1000px;
}

.table-headers p {
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}


li {
    list-style-type: none;
    font-size: 15px;
  }


.posts {
    margin: 0;
    padding: 0;
}

.description {
    color: #8B8B8B;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (max-width: 768px) and (min-width: 720px) {
    .header {
        width: 768px;
    }

    .cars-input-description {
        width: 730px;
    }

    .test {
        width: 730px;
    }
    
    .color-container {
        margin-right: 30px;
     }
    
     .select-input {
        width: 220px;
    }

    .cars-list-heading-container {
        margin-top: 76px;
    }

    .vertical-line {
        margin-right: 12px;
        margin-top: 25px;
    }

    .test2 {
        width: 730px;
    }

    .table-headers {
        width: 730px;
    }

    .year-cell {
        left: 350px;
    }
    
    .color-cell {
        left: 420px;
    }
    
    .status-cell {
        left: 470px;
    }
    
    .price-cell {
        left: 570px;
    }

    .delete {
        left: 650px;
    }
   }

   @media only screen and (max-width: 375px) and (min-width: 360px) {
    .header {
        width: 375px;
    }

    .heading {
        margin-top: 30px;
    }

    form {
        margin-top: 40px;
    }

    .input-block {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .cars-input-year, .cars-input-price {
        width: 145px;
    }

    .cars-input-name {
        width: 325px;
    }

    .cars-input-description {
        width: 325px;
    }

    .test {
        display: flex;
        flex-wrap: wrap;
        width: 325px;
    }

    .color-container {
        margin-right: 130px;
        margin-bottom: 30px;
    }

    .select-input {
        width: 155px;
    }

    .cars-button {
        width: 130px;
    }

    .cars-list-heading-container {
        margin-top: 60px;
    }

    .test2 {
        width: 345px;
    }

    .table-headers {
        display: none;
    }

    .name-cell {
        width: 230px;
    }

    .year-cell {
        top: 100px;
        left: 15px;
    }
    
    .color-cell {
        left: 250px;
    }
    
    .status-cell {
        top: 100px;
        left: 70px;
    }
    
    .price-cell {
        left: 280px;
    }

    .delete {
        top: 90px;
        left: 260px;
    }

    .list-content {
        flex-wrap: nowrap;
        height: 130px;
    }
   }